# CONTROL PREFIX ACCESS TO CONTROL PANEL
#
Order deny,allow
# Allow RFC1918 prefix
Allow from 10.0.0.0/8
Allow from 172.16.0.0/12
Allow from 192.168.0.0/16
# Allow localhost prefix
Allow from 127.0.0.0/8
# Allow TEST-NET{1,2,3} prefix
Allow from 192.0.2.0/24
Allow from 198.51.100.0/24
Allow from 203.0.113.0/24
# Deny every other v4 prefix
Deny from all

# USERNAME, PASSWORD FROM .HTPASSWD FILE TO AUTHENTICATE AND ALLOW ACCESS TO CONTROL PANEL
#
<IfModule mod_auth_basic.c>
    <IfModule mod_authn_file.c>
        AuthType Basic
        AuthName "Control Panel"
        AuthUserFile ./.htpasswd
        Require valid-user
    </IfModule>
</IfModule>
